<h1>New Place</h1>

<%= form_with url: "/places", method: "post", local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.submit "Save Place" %>
  </p>
<% end %>

<p><a href="/places">Back to Travel Log</a></p>